# Prerequisites
*.d

# Compiled Files and Libraries
*.slo
*.lo
*.o
*.obj
*.gch
*.pch
*.so
*.dylib
*.dll
*.mod
*.smod
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Local files
.test
build
cmake-build-debug

# Code editors
.vscode
.idea